<template>
	<el-main>

		<!-- Search Bar -->
		<el-row type="flex" class="row-bg" justify="center">
			<el-col :span="12">
				<el-input placeholder="Search.." v-model="searchQuery">
					<el-button @click="getTotal()" slot="append" icon="el-icon-search">Search</el-button>
				</el-input>
			</el-col>
		</el-row>

		<!-- Filter Columns -->
		<el-row type="flex" class="row-bg" justify="end" style="margin-top:20px">
			<el-col :span="24" style="float:right;text-align:right">
				<el-select v-model="allowedFields" multiple collapse-tags placeholder="Filter Columns">
					<el-option v-for="field in fields" :key="field.name" :label="field.name" :value="field.name">
					</el-option>
				</el-select>
			</el-col>
		</el-row>

		<!-- Table -->
		<el-row style="margin-top:30px">
			<el-col :span="24">
				<el-table :data="tableData" @sort-change="sortChange">
					<el-table-column v-for="field in visibleFields" :key="field.fieldId" :prop="field.fieldId" :label="field.name" sortable="custom">
					</el-table-column>
					<el-table-column fixed="right" label="Operations" v-if="canChange">
						<template slot-scope="scope">
							<el-button size="small" v-if="canUpdate" @click=edit(scope.row)>Edit</el-button>
							<el-button type="danger" size="small" v-if="canDelete" @click="deleteRecord(scope.row)">Delete</el-button>
						</template>
					</el-table-column>
				</el-table>
			</el-col>
		</el-row>

		<!-- Pagination -->
		<el-row type="flex" class="row-bg" justify="center">
			<el-col :span="8">
				<el-pagination v-if="totalResults > 0" @size-change="handlePageSizeChange" @current-change="handleCurrentPageChange" :current-page.sync="currentPage" :page-sizes="[10, 20, 50, 100, 200, 500]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalResults">
				</el-pagination>
			</el-col>
		</el-row>

		<!-- Floating Plus Button at the bottom right-->
		<el-tooltip class="item" effect="dark" content="Add Record" placement="top" v-if="canAdd">
			<router-link :to="'/user/table/' + tableName + '/add-record'" class="float">
				<i class="material-icons my-float" style="font-size: 40px;margin-top: 11px;margin-left: 2px;">add</i>
			</router-link>
		</el-tooltip>

		<!-- Record editing Dialog -->
		<el-dialog title="Edit Record" :visible.sync="dialogRecordVisible">
			<el-row type="flex" class="row-bg" justify="center">
				<el-col :lg="18" :md="20" :sm="24" :xs="24">
					<table v-if="rowToChange">
						<tr v-for="field in fields" :key="field">
							<td class="label">{{field.name}}</td>
							<td>
								<el-input v-if="field.type=='Text' || field.type=='Number' || field.type=='Deimal Number' || field.type=='primaryKey'" v-model="rowToChange[field.fieldId]" :ref="field.fieldId"></el-input>
								<el-select v-if="field.type=='Select'" placeholder="Select" v-model="rowToChange[field.fieldId]" :ref="field.fieldId">
									<el-option v-for="item in field.options" :key="item.value" :label="item.value" :value="item.value">
									</el-option>
								</el-select>
								<el-checkbox-group v-if="field.type=='Checkbox'" v-model="rowToChange[field.fieldId]" :ref="field.fieldId">
									<el-checkbox v-for="option in field.options" :key="option.value" :label="option.value"></el-checkbox>
								</el-checkbox-group>
								<el-radio-group :ref="field.fieldId" v-if="field.type=='Radio Button' && field.options.length > 0" v-model="rowToChange[field.fieldId]">
									<el-radio v-for="(option, j) in field.options" :key="option.value" :label="option.value">{{option.value}}</el-radio>
								</el-radio-group>
								<el-date-picker :ref="field.fieldId" v-if="field.type=='Date'" v-model="rowToChange[field.fieldId]" type="date" placeholder="Pick a day" value-format="yyyy-MM-dd">
								</el-date-picker>
								<el-time-select :ref="field.fieldId" v-if="field.type=='Time'" v-model="rowToChange[field.fieldId]" value-format="HH:mm:ss" :picker-options="{start: '00:15',step: '00:15',end: '23:45'}" placeholder="Select time">
								</el-time-select>
								<el-date-picker :ref="field.fieldId" v-if="field.type=='Date Time'" v-model="rowToChange[field.fieldId]" type="datetime" placeholder="Select date and time" value-format="yyyy-MM-dd HH:mm:ss"></el-date-picker>
							</td>
						</tr>
					</table>
				</el-col>

			</el-row>
			<span slot="footer" class="dialog-footer">
				<el-button @click="dialogRecordVisible = false">Cancel</el-button>
				<el-button type="primary" @click="dialogRecordVisible = false;doEdit()">Update</el-button>
			</span>
		</el-dialog>

	</el-main>
</template>
<script>
	module.exports = {
		data() {
			return {
				tableName: this.$route.params.tableName,
				fields: [],
				permissions: [],
				tableData: [],
				searchQuery: '',
				displayedTableName: '',
				sortBy: '',
				order: 'asc',
				totalResults: 0,
				pageSize: 10,
				currentPage: 1,
				timer: 0,
				allowedFields: [],
				isLoggedIn: Cookies.get("email") ? true : false,
				dialogRecordVisible: false,
				rowToChange: undefined,
				rowToChangePrimaryKey: undefined
			};
		},
		created() {
			this.getTableInfo();
		},
		watch: {
			searchQuery: function (newQuery) {
				// clears the timer on a call so there is always x seconds in between calls
				clearTimeout(this.timer);

				// if the timer resets before it hits 400ms it will not run
				this.timer = setTimeout(() => {
					this.getTotal()
				}, 400);
			}
		},

		computed: {
			visibleFields() {
				return this.fields.filter(field => this.allowedFields.indexOf(field.name) != -1);
			},
			canChange() {
				return this.canUpdate || this.canDelete;
			},
			canAdd() {
				return this.canPermission('add');
			},
			canUpdate() {
				return this.canPermission('update');
			},
			canDelete() {
				return this.canPermission('delete');
			}
		},

		methods: {

			edit(row) {
				this.rowToChange = row;
				this.rowToChangePrimaryKey = row.primaryKey;
				this.dialogRecordVisible = true;
			},

			doEdit() {
				axios.post('/apis/record-update.php', {
					tableName: this.tableName,
					oldPrimaryKey : this.rowToChangePrimaryKey,
					row: this.rowToChange
				}).then(result => {
					if (result.data.status == 'success') {
						if (this.permissions.update.approval) {
							this.$message({
								message: 'A request has been sent to update this record',
								type: 'success',
								center: true
							});
						} else {
							this.$message({
								message: 'Record successfully updated',
								type: 'success',
								center: true
							});
							this.getTotal();
						}
					} else {
						this.$message({
							message: 'Unable to update the record',
							type: 'error',
							center: true
						});
					}
				}).catch(error => {
					console.log(error);
					this.$message({
						message: 'Unable to add data',
						type: 'error',
						center: true
					});
				});
			},

			canPermission(operation) {
				if (!this.permissions || !this.permissions.delete) {
					return false;
				}
				if (this.permissions[operation].admin) {
					return true;
				}
				if (!this.permissions[operation].allowed) {
					return false;
				}
				if (this.permissions[operation].allowed) {
					if (this.permissions[operation].loginRequired) {
						return this.isLoggedIn;
					}
					return true;
				}
			},

			deleteRecord(row) {
				axios.post('/apis/record-delete.php', {
					tableName: this.tableName,
					primaryKey: row.primaryKey
				})
					.then(result => {
						if (result.data.status == 'success') {
							if (this.permissions.delete.approval) {
								this.$message({
									message: 'A request has been sent to delete this record',
									type: 'success',
									center: true
								});
							} else {
								this.$message({
									message: 'Record successfully deleted',
									type: 'success',
									center: true
								});
								this.getTotal();
							}
						} else {
							this.$message({
								message: 'Unable to delete the record',
								type: 'error',
								center: true
							});
						}
					}).catch(error => {
						console.log(error);
						this.$message({
							message: 'Unable to delete the record' + error,
							type: 'error',
							center: true
						});
					});
			},

			handlePageSizeChange(pageSize) {
				this.pageSize = pageSize;
				this.currentPage = 1;
				this.getTotal();
			},

			handleCurrentPageChange(currentPage) {
				this.currentPage = currentPage;
				this.getTotal();
			},

			getTotal() {
				axios.get(`/apis/search-total.php?tableName=${this.tableName}&searchQuery=${this.searchQuery}`)
					.then(result => {
						this.totalResults = result.data;
						if (this.totalResults != 0) {
							this.search();
						} else {
							this.tableData = [];
						}
					}).catch(error => {
						this.$message({
							message: 'Unable to fetch records',
							type: 'error',
							center: true
						});
					});
			},

			sortChange(column) {
				var fieldId = column.prop;
				var order = column.order;
				if (!fieldId || !order) {
					this.sortBy = this.fields[0].fieldId;
					this.order = 'asc';
					this.search();
					return;
				}
				this.sortBy = fieldId;
				if (order == 'ascending') {
					order = 'asc';
				} else {
					order = 'desc';
				}
				this.order = order;
				this.search();
			},

			search() {
				axios.get(`/apis/search.php?tableName=${this.tableName}&pageNumber=${this.currentPage}&maximumResults=${this.pageSize}&sortBy=${this.sortBy}&order=${this.order}&searchQuery=${this.searchQuery}`)
					.then(result => {
						this.tableData = result.data;
					}).catch(error => {
						this.$message({
							message: 'Unable to fetch records',
							type: 'error',
							center: true
						});
					});
			},

			getTableInfo() {
				axios.get(`/apis/table-info.php?tableName=${this.tableName}`)
					.then(result => {
						this.displayedTableName = result.data.displayedTableName;
						this.permissions = result.data.permissions;
						if (this.permissions.read.allowed) {
							this.fields = result.data.fields;
							for (var field of this.fields) {
								this.allowedFields.push(field.name);
								field['value'] = undefined;
							}
							this.getTotal();
						} else {
							this.$message({
								message: 'You are not authorized',
								type: 'error',
								center: true
							});
						}
					}).catch(error => {
						this.$message({
							message: 'Unable to fetch table information',
							type: 'error',
							center: true
						});
					});
			}

		}
	}
</script>
<style scoped>
	.float {
		position: fixed;
		width: 60px;
		height: 60px;
		bottom: 40px;
		right: 40px;
		background-color: #f44336;
		color: #fff;
		border-radius: 50px;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
	}

	.my-float {
		margin-top: 22px;
	}

	table {
		width: 100%;
	}

	tr>td {
		padding-bottom: 10px;
	}
</style>
