<template>
	<el-main>
		<el-row type="flex" class="row-bg" justify="center">
			<el-col :span="12">
				<el-input placeholder="Search.." v-model="searchQuery">
					<el-button @click="getTotal()" slot="append" icon="el-icon-search">Search</el-button>
				</el-input>
			</el-col>
		</el-row>
		<el-row type="flex" class="row-bg" justify="end" style="margin-top:20px">
			<el-col :span="24" style="float:right;text-align:right">
				<el-select v-model="allowedFields" multiple collapse-tags placeholder="Filter Columns">
					<el-option v-for="field in fields" :key="field.name" :label="field.name" :value="field.name">
					</el-option>
				</el-select>
			</el-col>
		</el-row>
		<el-row style="margin-top:30px">
			<el-col :span="24">
				<el-table :data="tableData" @sort-change="sortChange">
					<el-table-column v-for="field in visibleFields" :key="field.fieldId" :prop="field.fieldId" :label="field.name" sortable="custom">
					</el-table-column>
				</el-table>
			</el-col>
		</el-row>
		<el-row type="flex" class="row-bg" justify="center">
			<el-col :span="8">
				<el-pagination v-if="totalResults > 0" @size-change="handlePageSizeChange" @current-change="handleCurrentPageChange" :current-page.sync="currentPage" :page-sizes="[10, 20, 50, 100, 200, 500]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalResults">
				</el-pagination>
			</el-col>
		</el-row>
		<el-tooltip class="item" effect="dark" content="Add Record" placement="top">
			<router-link :to="'/user/table/' + tableName + '/add-record'" class="float">
				<i class="material-icons my-float" style="font-size: 40px;margin-top: 11px;margin-left: 2px;">add</i>
			</router-link>
		</el-tooltip>
	</el-main>
</template>
<script>
module.exports = {
	data() {
		return {
			tableName: this.$route.params.tableName,
			fields: [],
			tableData: [],
			searchQuery: '',
			displayedTableName: '',
			sortBy: '',
			order: 'asc',
			totalResults: 0,
			pageSize: 10,
			currentPage: 1,
			timer: 0,
			allowedFields: []
		};
	},
	created() {
		this.getTableInfo();
	},
	watch: {
		searchQuery: function(newQuery) {
			// clears the timer on a call so there is always x seconds in between calls
			clearTimeout(this.timer);

			// if the timer resets before it hits 400ms it will not run
			this.timer = setTimeout(() => {
				this.getTotal()
			}, 400);
		}
	},
	computed : {
		visibleFields : function() {
			return this.fields.filter(field => this.allowedFields.indexOf(field.name) != -1);
		}
	},
	methods: {
		handlePageSizeChange(pageSize) {
			this.pageSize = pageSize;
			this.currentPage = 1;
			this.getTotal();
		},
		handleCurrentPageChange(currentPage) {
			this.currentPage = currentPage;
			this.getTotal();
		},
		getTotal() {
			axios.get(`/api/search-total.php?tableName=${this.tableName}&searchQuery=${this.searchQuery}`)
				.then(result => {
					this.totalResults = result.data;
					if (this.totalResults != 0) {
						this.search();
					} else {
						this.tableData = [];
					}
				}).catch(error => {
					this.$message({
						message: 'Unable to fetch records',
						type: 'error',
						center: true
					});
				});
		},
		sortChange(column) {
			var fieldId = column.prop;
			var order = column.order;
			if (!fieldId || !order) {
				this.sortBy = this.fields[0].fieldId;
				this.order = 'asc';
				this.search();
				return;
			}
			this.sortBy = fieldId;
			if (order == 'ascending') {
				order = 'asc';
			} else {
				order = 'desc';
			}
			this.order = order;
			this.search();
		},
		search() {
			axios.get(`/api/search.php?tableName=${this.tableName}&pageNumber=${this.currentPage}&maximumResults=${this.pageSize}&sortBy=${this.sortBy}&order=${this.order}&searchQuery=${this.searchQuery}`)
				.then(result => {
					this.tableData = result.data;
				}).catch(error => {
					this.$message({
						message: 'Unable to fetch records',
						type: 'error',
						center: true
					});
				});
		},
		getTableInfo() {
			axios.get(`/api/table-info.php?tableName=${this.tableName}`)
				.then(result => {
					this.displayedTableName = result.data.displayedTableName;
					this.fields = result.data.fields;
					for (var field of this.fields) {
						this.allowedFields.push(field.name);
						field['value'] = undefined;
					}
					this.getTotal();
				}).catch(error => {
					this.$message({
						message: 'Unable to fetch table information',
						type: 'error',
						center: true
					});
				});
		}
	}
}
</script>
<style scoped>
.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #f44336;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.my-float {
	margin-top: 22px;
}
</style>
